---
- name: Configure 802.1X on Catalyst 9000v Switch
  hosts: switches
  gather_facts: no
  connection: network_cli
  vars:
    # List of RADIUS servers
    radius_servers:
      - name: "RADIUS1"
        ip: "10.10.10.10"
        key: "RADIUSSECRET"

    # List of interfaces to configure 802.1X
    dot1x_interfaces:
      - GigabitEthernet1/0/2
      - GigabitEthernet1/0/3
      - GigabitEthernet1/0/4

  tasks:
    - name: Enable AAA new-model
      ios_config:
        lines:
          - aaa new-model

    - name: Configure RADIUS Servers
      ios_config:
        parents: "radius server {{ item.name }}"
        lines:
          - address ipv4 {{ item.ip }} auth-port 1812 acct-port 1813
          - key {{ item.key }}
      loop: "{{ radius_servers }}"

    - name: Configure dot1x on multiple interfaces
      ios_config:
        parents: "interface {{ item }}"
        lines:
          - switchport mode access
          - authentication port-control auto
          - dot1x pae authenticator
          - mab
          - spanning-tree portfast
      loop: "{{ dot1x_interfaces }}"

    - name: Save configuration if modified
      ios_config:
        save_when: modified
